@import "tailwindcss";


body{
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
}
.detailsList li{
    list-style: square;
}


.container{
  max-width: 100%;
  padding-right: 8rem;
  padding-left: 8rem;
}
.smooth-transition{
  transition: ease-in 0.1s;
  transition-duration: 300ms;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 60px;
    aspect-ratio: 1;
    border: 10px solid #ddd;
    border-radius: 50%;
    position: relative;
    transform: rotate(45deg);
}
.loader::before {
    content: "";
    position: absolute;
    inset: -10px;
    border-radius: 50%;
    border: 10px solid var(--color-primary);
    animation: l18 2s infinite linear;
}
@keyframes l18 {
    0%   {clip-path:polygon(50% 50%,0 0,0    0,0    0   ,0    0   ,0    0   )}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0   ,100% 0   ,100% 0   )}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0    100%,0    100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0    100%,0    0   )}
}

.react-multiple-carousel__arrow{
    z-index: 5 !important;
}

/* Hide scrollbar (for Chrome, Safari, Edge) */
* {
  scrollbar-width: thin; /* options: auto, thin, none */
  scrollbar-color: var(--color-primary) transparent;
}

/* Hide scrollbar (for Firefox) */
/*.no-scrollbar {*/
/*  scrollbar-width: none;*/
/*  -ms-overflow-style: none; !* IE and Edge *!*/
/*}*/
